<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chat Examen
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showInstructions()" title="Instrucciones">
        <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let msg of messages">
      <ion-label>
        <h3>{{ msg.sender }}</h3>

        <ng-container *ngIf="msg.text.startsWith('data:image') || msg.text.endsWith('.png') || msg.text.endsWith('.jpg') || msg.text.endsWith('.jpeg'); else checkMap">
          <img [src]="msg.text" alt="Imagen enviada" style="max-width: 100%; border-radius: 10px;" />
        </ng-container>

        <ng-template #checkMap>
          <ng-container *ngIf="msg.text.includes('google.com/maps'); else normalMsg">
            <a [href]="msg.text" target="_blank">{{ msg.text }}</a>
          </ng-container>
        </ng-template>

        <ng-template #normalMsg>
          <p [innerText]="msg.text"></p>
        </ng-template>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input [(ngModel)]="newMessage" placeholder="Escribe un mensaje o para buscar un pokemos asi Ejem: /pokemon charmander" fill="outline"></ion-input>
    <ion-button expand="block" (click)="sendMessage()">Enviar</ion-button>
    <ion-button expand="block" color="medium" (click)="sendLocation()">Ubicación</ion-button>
    <ion-button expand="block" color="secondary" (click)="sendPhoto()">Foto</ion-button>
  </ion-toolbar>
</ion-footer>
